<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>


<body>
  <h1>Facebook</h1>  
  <link rel="stylesheet" href="style.css">
<section>
      <form method="post" action="http://127.0.0.1:5000/login" >
      
        <fieldset=width"500">
            <legend class="login">login</legend>
        <div>
            <fieldset class="inside">
          <div class="user">
            <label for="user">user name:</label>
            <input id="user" type="text" required placeholder="user_name" name="user">
          </div>
          <div class="pas">
          <label for="pas">password:</label>
          <input id="pas" type="password" required placeholder="example:123abcABC!@#" name="pas">
          
          </div>
          
          </fieldset>
        </div>
        <input class="bot" type="submit" value="login"><br>
        <button><a  href="rigster.html">rigster</a></button>
        </fieldset>
      </form>
      
</section>
    
</body>
</html>